---
import MainLayout from "../layouts/main-layout.astro";

---

<MainLayout>
  <h1 class="text-center text-5xl prose pt-7">Sorry, this page doesn't exist</h1>
  <div style="width:100%;height:0;padding-bottom:83%;position:relative;" class="flex justify-center items-center mt-96"><iframe src="https://giphy.com/embed/BilVLBODXCXqDmkuip" width="70%" height="71%" style="position:absolute" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div><p class="w-full text-center text-4xl pb-8"><a href="/" class="link link-hover border rounded-md py-2 px-6 hover:bg-white hover:text-black focus:scale-90 transition cursor-pointer">Go Back Home </a></p>
</MainLayout>