---
import MainLayout from "../layouts/main-layout.astro";


import Form from "../components/ContactForm.jsx";


---

<MainLayout>
<main class="w-full h-max grid place-items-center">
<header class="prose text-3xl w-full max-w-lg my-20 h-max text-center">
  <h1>Please feel free to reach out to us! </h1><h1> Contact information is below!</h1>
</header>
  <Form client:visible/>
</main>
</MainLayout>