---
import MainSection from "../components/MainSection.astro";
import MainLayout from "../layouts/main-layout.astro";
import { Image } from "astro:assets";
import logo from './images/Real_Muziq_Group_Logo_White.png';
---
<MainLayout>
<MainSection bgImg="bg-rmg-logo" >
<Image src={logo} alt="real-muziq-logo" width='500' height={500/2} />
</MainSection>
<MainSection bgImg="bg-t_o" >
    <h2 class="text-3xl">About</h2>
    <p class="text-xl">Learn more About Real Muziq Group</p>
    <a class="btn btn-secondary btn-outline btn-ghost" href="/about">About Page</a>
</MainSection>
<MainSection bgImg="bg-teezy" >
    <h2 class="text-3xl">Artists</h2>
    <p class="text-xl">Learn more About Real Muziq Group Artists</p>
    <a class="btn btn-secondary btn-outline btn-ghost" href="/artists">Artists Page</a>
</MainSection>
</MainLayout>