---
type Props = {
	bgImg: string;
};

const { bgImg } = Astro.props;
---


<div class={`hero min-h-screen ${bgImg} bg-fixed bg-center bg-no-repeat bg-cover bg-blend-overlay bg-base-200`}>
			<div class='hero-content flex flex-col text-5xl'>
				<slot />
			</div>
		</div>

