


<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-100 fixed z-10">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2 pl-16 md:pl-0">Real Muziq Group</div>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal dropdown-content ">
          <!-- Navbar menu content here -->
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="dropdown dropdown-hover"><label tabindex="0" ><a href="/artists">Artists</a></label>
          <ul  tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/artists/#cocoa">Cocoa</a></li>
            <li><a href="/artists/#funto">Funto</a></li>
            <li><a href="/artists/#mtee">Mtee</a></li>
            <li><a href="/artists/#juwop">Juwop</a></li>
            <li><a href="/artists/#ocho">OchoFrom60</a></li>
          </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/studio">Book Studio Session</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="drawer-side z-20">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <!-- Sidebar content here -->
       <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/artists">Artists</a>
          <ul class="p-2">
            <li><a href="/artists/#cocoa">Cocoa</a></li>
            <li><a href="/artists/#funto">Funto</a></li>
            <li><a href="/artists/#mtee">Mtee</a></li>
            <li><a href="/artists/#juwop">Juwop</a></li>
            <li><a href="/artists/#ocho">OchoFrom60</a></li>
          </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/studio">Book Studio Session</a></li>

    </ul>

  </div>
</div>