---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---


<html lang="en" data-theme="black">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Real Music Group</title>
		<ViewTransitions />
		<meta property="og:description" content="Explore the ultimate musical journey with Realmuziq Group! Dive into a world of captivating melodies, inspiring lyrics, and top-notch music production at realmuziqgroup.vercel.app. Discover talented artists, their latest releases, and stay updated with the hottest trends in the music industry. Join us for an unforgettable musical experience today!" />
		<meta property="og:image" content="%PUBLIC_URL%/public/Real_Muziq_Group_Logo_Black.png" />

	</head>
	<body>
        <Navbar />
		<main class="w-full h-full my-16"><slot/></main>
		<Footer />
	</body>
</html>
