---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---


<html lang="en" data-theme="black">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Real Music Group</title>
		<ViewTransitions />

	</head>
	<body>
        <Navbar />
		<main class="w-full h-full my-16"><slot/></main>
		<Footer />
	</body>
</html>
