---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
// Supports weights 100-900
import '@fontsource-variable/lexend-deca';
---


<html lang="en" data-theme="black">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Real Music Group</title>
		<ViewTransitions />
		<title>Real Music Group</title>
<meta name="description" content="Explore the ultimate musical journey with Realmuziq Group! Dive into a world of captivating melodies, inspiring lyrics, and top-notch music production at realmuziqgroup.vercel.app. Discover talented artists, their latest releases, and stay updated with the hottest trends in the music industry. Join us for an unforgettable musical experience today!">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Real Music Group">
<meta itemprop="description" content="Explore the ultimate musical journey with Realmuziq Group! Dive into a world of captivating melodies, inspiring lyrics, and top-notch music production at realmuziqgroup.vercel.app. Discover talented artists, their latest releases, and stay updated with the hottest trends in the music industry. Join us for an unforgettable musical experience today!">
<meta itemprop="image" content="https://realmuziqgroup.vercel.app/Real_Muziq_Group_Logo_white.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://realmuziqgroup.vercel.app">
<meta property="og:type" content="website">
<meta property="og:title" content="Real Music Group">
<meta property="og:description" content="Explore the ultimate musical journey with Realmuziq Group! Dive into a world of captivating melodies, inspiring lyrics, and top-notch music production at realmuziqgroup.vercel.app. Discover talented artists, their latest releases, and stay updated with the hottest trends in the music industry. Join us for an unforgettable musical experience today!">
<meta property="og:image" content="https://realmuziqgroup.vercel.app/Real_Muziq_Group_Logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Real Music Group">
<meta name="twitter:description" content="Explore the ultimate musical journey with Realmuziq Group! Dive into a world of captivating melodies, inspiring lyrics, and top-notch music production at realmuziqgroup.vercel.app. Discover talented artists, their latest releases, and stay updated with the hottest trends in the music industry. Join us for an unforgettable musical experience today!">
<meta name="twitter:image" content="https://realmuziqgroup.vercel.app/Real_Muziq_Group_Logo.png">

<!-- Meta Tags Generated via http://heymeta.com -->

	</head>
	<body>
        <Navbar />
		<main class="w-full h-full my-16"><slot/></main>
		<Footer />
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
  			AOS.init();
		</script>
	</body>
</html>

<style is:global>
body {
  font-family: 'Lexend Deca Variable', sans-serif;
}
</style>